<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <button id="btn">点我发送</button>
  </body>
  <script>
    const btn = document.getElementById('btn');
    btn.addEventListener('click', function () {
      const xhr = new XMLHttpRequest();
      xhr.open('post', 'http://localhost:3000/user', true);
      xhr.setRequestHeader('content-type', 'application/json');
      let data = JSON.stringify({
        username: '王五',
        age: 20,
      });
      xhr.send(data);
    });
  </script>
</html>
